<?xml version="1.0"?>
<launch>
    <arg name="hz" default="10"/>

    <node pkg="odom_publisher_unity" type="odom_publisher_unity" name="odom_publisher_unity" output="screen">
        <param name="hz" value="$(arg hz)"/>
    </node>

    <!-- tf x y z rool pitch yaw parent child -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="unity_to_map_tf" args="-59.484 -220.64 25.31 1.9809 -2.34687 93.5639  Unity map 100"/> -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="unity_to_map_tf" args="-59.484 -220.64 25.31 0.0 0.0 -0.728549 0.6849931  Unity map 100"/> -->

</launch>